body{
  background-color:#a7192f;
  margin: auto;
  width: 80%;
}

p{
  color: rgb(90,90,90);
  padding-right:1em;
}

td{
  width:8%;
  padding-left:1em;
  padding-top: 0.5em;
  padding-bottom:0.5em;
  color: rgb(80,80,80);
}

h1{
  font-family: sans-serif;
}

h2{
  font-family: serif;
  color: #a7192f;
}

table{
  font-family: serif;
  margin-right: 0.5em;
  border-collapse: collapse;
}

table,td,th{
  border:1px solid #BBBBBB;
}

th{
  background-color:#DDD;
  padding-top:3px;
  padding-bottom:3px;
  text-align:left;
  padding-left:1em;
}

button{
  background-color:#a7192f;
  color:white;
  display:inline-block;
  padding:0.5em;
  text-decoration:none;
  border:1px white;
  margin-top:3em;
  border-radius:5px;
  width:100px;
  float:right;
}

button:hover{
  background-color:#b7293f;
  box-shadow: 0px 0px 5px #000;
}

button:active{
  color:darkred;
  background-color:white;
}

input{
  width:40%;
}

tr:hover{
  background-color: rgb(95%,95%,95%);
}

td:hover{
  background-color: white;
}

th:hover{
  background-color: rgb(80%,80%,80%)
}

#wrapper{
  height:100%;
  box-shadow:0px 0px 10px #500;
  bottom:0;
  width: 80%;
  position:absolute;
  min-width: 845px;
  max-width: 1200px;
}

#part1,#part2{
  margin-top:3em;
  position:relative;
  background-color:#FFFFFF;
  padding-top: 3em;
  padding-bottom:2em;
  box-shadow: 0px 0px 10px #500;
  padding-left:2em;
}

#part2{
  margin-top:2em;
}

#calculator, #timeCalculator {
  background-color: #e9eef1;
  width:80%;
  padding-left:1em;
  border-style:solid;
  border-width:1px;
  border-color:#d9dde1;
  padding-bottom:5em;
}

#totalprompt{
  color:black;
  padding-top:1em;
}


#average{
  margin-right:3em;
}

#mean{
margin-right:2em;
}

#studySessions td{
  height: 100px;
}
#calculatedDate{
  width: 20%;
}
#footer{
  width:100%;
  height:50px;
  position:relative;
  box-shadow: 0px 0px 10px #500;
  z-index:-1;
}
